*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #548687;
    text-align: center;
}
 
h1{
    margin-top: 15px;
}

.container{
    height: 70vh;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    font-size: 8vmin;
    color: #03045E;
    background-color: #ffffc7;
}

.box:hover{
    border: 3px solid #315f07;
    
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #315f07;
    color: #ffffff;
    border-radius: 1rem;
    border: none;
}

#reset-btn:hover{
    border: 2px solid #ffffff;

}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #315f07;
    color: #ffffff;
    border-radius: 1rem;
    border: none;
}

#new-btn:hover{
    border: 2px solid #ffffff;
}

#msg{
    color: #ffffc7;
    font-size: 6vmin;
    padding-top: 3vmin;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}

